<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="LOG_PATTERN"

              value="%d{yyyy-MM-dd HH:mm:ss} %-5level [%t] [%X{requestId:-NA}] [%X{traceId:-NA}] [%X{userId:-ANONYMOUS}] %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>

            <pattern>${LOG_PATTERN}</pattern>

        </encoder>

    </appender>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>
                        {
                        "timestamp": "%d{yyyy-MM-dd HH:mm:ss.SSS,UTC}",
                        "level": "%level",
                        "service": "${spring.application.name:-order-payment-processing-service}",
                        "traceId": "%X{traceId:-NA}",
                        "spanId": "%X{spanId:-NA}",
                        "requestId": "%X{requestId:-NA}",
                        "userId": "%X{userId:-ANONYMOUS}",
                        "logger": "%logger",
                        "thread": "%t",
                        "message": "%message",
                        "exception": "%ex"
                        }
                    %n </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="!local">
        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE" />
        </root>
    </springProfile>


</configuration>